*{
  background-color: inherit;
  color:inherit;
  text-decoration: none;
  font-family: 'Roboto', sans-serif, serif;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
}
body{

  background-color: white;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.up{
  width: 100%;
  float: left;
  background-color: #ebe8e1;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 20px;
}
.titolo {
  text-align: center;
  width: 100%;
  float: left;
}
.titolo h1{
  padding: 10px;
  font-size: 50px;
  color: grey;
}
.menu{
  width: 100%;
  float: right;
}
.m-desktop ul{
  float: right;
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
  text-transform: uppercase;
}
.m-desktop ul li{
  display: inline;
  color: grey;
  margin-right: 15px;
}

.m-desktop ul li:hover{
  background-color: rgba(237, 237, 237,0.1) ;
  border-radius: 10px;
}
.letre {
  width: 0%;
  height: 0%;
  visibility: hidden;
}
.hidden{
  visibility: hidden;
  width: 0px;
  height: 0px;
}
#hidmenu{
  visibility: hidden;
  width: 0px;
  height: 0px;
}
#sottotitolo{
  margin: 40px;
  font-size: 25px;
  color: grey;

}
.progetti {
  float: left;
  width: 100%;
}
.creation{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
#pro{
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
.bottom{
  background-color: grey;
  position: relative;
  width: 100%;
  bottom: 0px;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#contatti{
  text-align: center;
  color: #ebe8e1;
  font-size: 10px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 750px) {

  /* For mobile phones: */
  .m-desktop ul{
    visibility: hidden;
    margin: 0px;
    width: 0%;
    height: 0px;
  }
  .m-mobile{
    width: 100%;
    text-transform: uppercase;
  }
  .letre{
    visibility: visible;
    width: 70px;
    height: 30px;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
  }
  .uno, .due, .reuno, .redue, .reuno1, .redue2{
    align-items: center;
    width: 24px;
    height: 2px;
    background-color: grey;
    display: block;
    margin: 2.5px 0;
    border-radius: 4px;
    float: left;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .uno{
    transition-duration:  0.5s;
    transform: rotate(40deg);
    margin-right: -3.5px;
  }
  .due{
    transition-duration: 0.5s;
    transform: rotate(-40deg);
    margin-left: -3.5px;
  }
  .redue{
    transition-duration: 0.5s;
    transform: rotate(0deg);
    margin-left: -1px;
  }
  .reuno{
    transition-duration:  0.5s;
    transform: rotate(0deg);
    margin-right: -1px;
  }
  .reuno1{
    transform: rotate(-40deg);
    margin-right: -3.5px;
  }
  .redue2{
    transform: rotate(40deg);
    margin-left: -3.5px;
  }
  .slideup, .slidedown {
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
  }
  .slidedown{
      height: 90px;
  }
  #hidmenu{
    width: auto;
    height: auto;
    visibility: visible;
    text-align: center;
    color: grey;
    list-style-type: none;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size:15px;
  }
  #pro{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
